@import '../../../styles/colors';


.sidebar-menu {
  width: 300px;
  min-height: 100%;
  background: $background-color;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-flow: column;

  img {
    width: 200px;
    margin-bottom: 20px;
  }

  hr {
    border: 0;
    border-bottom: 2px solid $primary-color;
    margin: 0;
  }
}
