/* Set the application global color scheme. */
$background-color: #dcddd7;
$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;
$accent-color: #9E9E9E;
$dark-text-color: #212121;
$grey-text-color: #757575;
$divider-color: #BDBDBD;
$border-color: #DDDDDD;

$error: #cc0000;
$warning: #FFCC00;
$success: #5cb85c;
