@import '../../../styles/colors';


.employee-list {

  h2 {
    text-align: center;
  }

  .employee-list-group {

    .employee-list-item {
      padding: 10px 0;

       h3 {
         color: $primary-color-dark;
       }

      &:not(:first-child) {
        border-top: 1px solid #ddd;
      }
    }
  }
}
