@import '../../../styles/colors';

$button-padding-vertical: 5px;
$button-padding-horizontal: 10px;

.button {
  padding: 5px 10px;

  &.button-column {

    button {
      flex-flow: column;
    }
  }

  &.danger {
    button {
      background: $error;
      border-color: $error;

      &:hover {
        background: $error-light;
        border-color: $error-light;
      }
    }
  }

  &.selected {

    button {
      background: $primary-color-light;
      border-color: $primary-color-light;

      &:focus {
        border-color: $primary-color-fade;
      }
    }
  }

  &.disabled {

    button {
      background: $primary-color-darker;
      border-color: $primary-color-darker;
      cursor: not-allowed;

      &:focus {
        border-color: $primary-color;
      }
    }
  }

  &.loading {

    button {
      cursor: wait;
    }
  }

  button {
    background: $primary-color;
    color: $primary-color-text;
    border-radius: 5px;
    font-size: 1rem;
    padding: 15px 20px;
    border: 4px solid $primary-color;
    transition: 300ms ease background, 300ms ease border;
    cursor: pointer;
    user-select: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    &:hover {
      background: $primary-color-light;
      border-color: $primary-color-light;
    }

    &:focus {
      border-color: $primary-color-light;
      outline: 0;
    }

    i.material-icons {
      color: $primary-color-text;
      font-size: 1.5rem;
    }
  }
}
