@import '../../../styles/colors';
@import '../../../styles/screen-sizes';


.employee-availability {

  .employee-availability-time {
    padding: 20px;
    background: $white;
    text-align: center;

    h4 {
      text-transform: uppercase;
      margin: 5px 0;
      color: $primary-color-darker;
    }
  }
}
