/* This page defines the styles for the contact page */

.contact-page {
  margin-top: 40px;

  .logo {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
