@import '../../../styles/colors';


.not-found {
  display: flex;
  flex-flow: column;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    margin: 40px 0 20px;
  }

  a {
    padding: 20px;
    color: $primary-color-dark;
    font-weight: 600;
    transition: 300ms ease opacity;

    &:hover {
      opacity: 0.5;
    }
  }
}
