@import '../../../styles/colors';


.input {
  padding: 5px 10px;

  input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid $border-color;
    transition: 300ms ease border;
    border-radius: 5px;
    width: 100%;

    &:focus {
      outline: 0;
      border-color: $primary-color;
    }
  }
}
